.currentTransactions {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.currentTransaction__columns-names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.currentTransaction__column-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  margin: 0;
  text-align: center;

  color: #afafaf;
}

.currentTransaction__all-new-transactions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.currentTransaction__transaction {
  background: #282828;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}

.currentTransaction__transaction-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  color: #afafaf;
}

.currentTransaction {
  background: #282828;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 15px;
  gap: 15px;
  display: grid;
  grid-template-columns: 4fr 8fr 25px;
  justify-content: space-between;
}

.currentTransaction__text-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.currentTransaction__value-id {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.currentTransaction__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  color: #afafaf;
}

.currentTransaction__text_fat {
  font-weight: 500;
}

.currentTransaction__id {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.currentTransaction__status {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.currentTransaction__status-button {
  width: 25px;
  height: 25px;
  justify-self: end;
}

.currentTransaction__value {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.currentTransaction__link {
  text-decoration: underline;
  color: #fff;

  /*todo убрать позже  */
  display: none;
}
