.policies-button {
  width: 363px;
  height: 53px;

  color: #fff;
  background: #282828;
  border-radius: 13.325px;

  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.policies-button-name {
  text-transform: capitalize;
  height: 24px;
  text-align: center;
  margin: 0;
}

