.bigTitle {
  z-index: 1;
  width: fit-content;
  margin: 0;
  position: relative;
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;

  text-align: center;
  text-transform: uppercase;
}

.bigTitle::after {
  width: 100%;
  z-index: -1;
  filter: blur(1px);
  position: absolute;
  color: #000 !important;
  text-shadow: 2px 0 5px rgba(222, 188, 103, 1),
    0 2px 5px rgba(230, 211, 155, 1), -2px 0 5px rgba(167, 114, 46, 1),
    0 -2px 5px rgba(222, 188, 103, 1);
  top: -3px;
  left: 5px;
}

#home.bigTitle::after {
  content: "home";
}

#sign-in.bigTitle::after {
  content: "sign in";
}

#sign-up.bigTitle::after {
  content: "sign up";
}

#exchange-and-buy.bigTitle::after {
  content: "exchange and buy";
}

#storage-buying-and-selling-cryptocurrency.bigTitle::after {
  content: "Storage, Buying and Selling Cryptocurrency";
}

#cryptocurrency-exchange.bigTitle::after {
  content: "Cryptocurrency exchange";
}

#clients-about-us.bigTitle::after {
  content: "Clients about us";
}

#mail-verification.bigTitle::after {
  content: "mail verification";
}

/** policies */
#policies.bigTitle::after {
  content: "Policies";
}

#terms-of-service.bigTitle::after {
  content: "Terms of Service";
}

#privacy-policy.bigTitle::after {
  content: "Privacy Policy";
}

#coockie-policy.bigTitle::after {
  content: "Coockie Policy";
}

#aml-policy.bigTitle::after {
  content: "AML policy";
}
