.popup {
  z-index: 1;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.35s, opacity 0.35s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  margin: 0;
  position: relative;
  width: 430px;
  height: fit-content;
  box-sizing: border-box;
  background: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 34px 36px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 544px) and (max-width: 1152px) {
  .popup__container {
    width: 356px;
    padding: 29.5px 29px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}

.popup__close-button {
  margin: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-color: transparent; /*? делаем фон прозрачным */
  right: -40px;
  top: -40px;
  background-image: url(./../../images/close-icon.svg);
  line-height: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 544px) and (max-width: 1152px) {
  .popup__close-button {
    width: 26px;
    height: 26px;

    right: -40px;
    top: -40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .popup__close-button {
    width: 20px;
    height: 20px;

    right: 0px;
    top: -36px;
  }
}
