.login {
  color: #fff;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}

.login__button-password {
  padding: 0;
  margin: 0;
  border: none;
  width: 24px;
  height: 22px;
  position: absolute;
  bottom: 16.23px;
  right: 20px;

  background-position-y: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
}

.login__button-password_open {
  background-image: url(./../../../images/eyeOpen.svg);
}

.login__button-password_close {
  background-image: url(./../../../images/eyeClose.svg);
}

.login__form {
  margin: 40px 0 10px;
  display: flex;
  flex-direction: column;
  row-gap: 26.5px;
}

.login__nav-submit {
  display: flex;
  flex-direction: column;
}

.login__nav {
  height: 23px;
  width: fit-content;
  color: rgba(245, 194, 73, 1);
  font-weight: 400;
  font-size: 15.5457px;
  line-height: 22px;
}

.login__create-account-link {
  display: flex;
  width: 365px;
  justify-content: space-between;
}

.login__create-account-message {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15.5457px;
  line-height: 22px;

  color: #585858;
}
