.popupInfo {
}

.popupInfo__img {
  padding: 0;
  margin: 0 auto 32px;
  width: 120px;
  height: 120px;
}

.popupInfo__message {
  margin: 0;
  width: 100%;
  height: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1152px) {
  .popupInfo__message {
    font-size: 22.65px;
    line-height: 27.35px;
  }
}

@media screen and (min-width: 544px) and (max-width: 768px) {
  .popupInfo__message {
    font-size: 21.35px;
    line-height: 25.65px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .popupInfo__message {
    font-size: 20px;
    line-height: 24px;
  }
}
