.field {
  margin: 0;
  position: relative;
  width: 100%;
}

.field__name {
  margin: 0 0 3.65px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #afafaf;
  text-align: start;
}

.field__input {
  color: #fff;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 53.3px;
  background: #282828;
  border-radius: 13.325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 22px 14px 18px;
  gap: 11.1px;
  border: #282828 1px solid;
}

.field__input:focus-visible {
  border: #fff 1px solid;
  outline: none;
  caret-color: #fff;
}

.field__input:valid {
  border: green 1px solid;
}

.field__input_big {
  height: 60px;
}

.field__input_adress {
  width: 100%;
  max-width: 400px;
}

.field__input::-webkit-outer-spin-button,
.field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
