.policies {
  color: #fff;
  min-height: 100px;
  text-align: center;
  margin: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.policies__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 50px;
}
