/* ! подключаем vendor */
/* ? подключаем normalize */
@import url(./vendor/normalize.css);
/* ? подключаем fonts */
@import url(./vendor/fonts/fonts.css);

/* ! подключаем повторяющиеся блоки */
/* ? подключаем link */
@import url(./blocks/link/link.css);
/* ? подключаем button */
@import url(./blocks/button/button.css);

#root {
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 9px; /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #282828; /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  width: 5px;
  background: #bfbfbf; /* цвет плашки */
  border-radius: 5px; /* закругления плашки */
  margin: 10px 0;
}
